<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NER</title>
</head>
<body BGCOLOR="#FEF9E7" style="text-align: center;">
     <h1 style="font-size:50px;">Name Entity Recognition</h1>
     <form action="/perform_ner" method="post">
         <label style="font-size: 20px;">Type your text here</label><br><br>
         <!--<textarea> It is similar to input, but its size is large-->
         <textarea name="ner_text"></textarea><br><br>
         <input type="submit" value="Perform NER">
     </form>

     {% if response %}
        {% for dict_ in response["entities"]: %}
             <p>{{ dict_['name']+' --> '+dict_['category'] }}</p>
        {% endfor %}
     {% endif %}

</body>
</html>